  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 1rem;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.6s ease-in-out;
    will-change: transform;
  }
  
  .carousel-image {
    flex: 0 0 33.33%; 
    transition: transform 0.6s ease;
    padding: 10px;
    height: 300px;
    width: 100px;
  }
  
  .carousel-image.active {
    transform: scale(1.2); 
  }
  
  .carousel-image {
    transform: scale(1); 
  }
  

