/* .aboutHeader {
    background-image: url('../../images/Group\ 45.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; 
    position: relative;
  }
   */
  
   /* .aboutPage{
    margin-top: 50px;
   } */

   .aboutHeader{
    display: flex;
    flex-direction: row;
    height: 100vh;
   }

   .aboutImgDiv, .aboutContentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
   }

   .aboutImgDiv img{
    object-fit: contain;
    width: 100%;
    height: 100%;
   }

   @media (max-width: 768px) {
    .aboutHeader{
      flex-direction: column;
     }
   }