:root{
  --font-family-main: 'Montaga', serif; 
  --main-color: #AA624F;
  --secondary-color: #C47C69;
  --accent-color: #D89B8A;
  --gray-color: #9d9999;
  --font-size: 16px;
}

body{
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}


.homeDiv{
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow-x: hidden;
  object-fit: cover;
}



.aboutTop-heading{
  /* display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items:center; */
  position: relative;
  top: 200%;
  right: 25%;
  margin-left: 10px;
  padding-left: 10px;
}

.first-text {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--main-color);
  font-family: var(--font-family-main);
  /* margin: 40px 0px 10px 20px; */
  line-height: 1.2;  
  /* position: absolute;
  top: 200px; */

}

.second-text {
  font-size: 1.3rem;
  color: var(--secondary-color);
  will-change: transform;
  line-height: 1.5;
  font-family: var(--font-family-main);
  /* position: absolute;
  top: 250px; */
  /* margin-left: 10px; */
}

.trendingNowSection{
  padding: 40px 20px 0px 20px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  height:fit-content;
  width: 100vw;
  box-sizing: border-box;
  /* margin-bottom: 40px; */
  /* overflow:hidden; */
}


.productValuess{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products{
  min-height: 100vh;
  /* height: auto; */
  /* margin-top: 40px; */
  /* padding: 20px; */
  
}




/* @media screen and (min-width: 481px){
  .header{
    max-height: 570px;
    object-fit: cover;
  }
}  */

@media screen and (max-width: 480px){
  .header{
    height: 100vh;
  }

  .productValuess{
    padding: 20px;
  }
}

@media screen and (max-width: 768px){
  .trendingNowSection{
    height: fit-content;
  }
}



@media screen and (min-width: 480px) and (max-width: 1024px) {
  .header{
    height: 100vh;
    object-fit: cover;
  }
}

@media (min-width: 1024.2px) {
  .header{
    height: 100vh;
    object-fit: cover;
    padding-bottom: 20px;
  }
}