

.homeDiv{
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.slide {
  height: 100vh;
  width: 100vw;
}

/* .background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #7e3911; 
} */

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


.products{
  min-height: 100vh;
  margin-top: 40px;
  padding: 20px;
}

@media screen and (max-width: 480px){
  .header{
    height: 200px;
  }

  
}

/* @media screen and (min-width: 481px){
  .header{
    max-height: 570px;
    object-fit: cover;
  }
}  */

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .header{
    height: 400px;
    object-fit: cover;
  }
}

@media (min-width: 1024.2px) {
  .header{
    height: 100vh;
    object-fit: cover;
    padding-bottom: 20px;
  }
}