:root{
  --font-family-main: 'Montaga', serif; 
  --main-color: #AA624F;
  --secondary-color: #C47C69;
  --accent-color: #D89B8A;
  --gray-color: #9d9999;
  font-size: 16px;
}
 
.about2Page{
    overflow-x: hidden;
    /* background-image: url('../../images/freepik__retouch__84134.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #FFF0E5; */
    /* background-color: #FFE7DA; */
    box-sizing: border-box;
}

  .aboutTop{
    height: 100vh;
    width: 100vw;
    /* background-image: url('../../images/aboutbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFE7DA;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed; */
    
}

.aboutTop-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200%;
  right: 25%;
  margin-left: 20px;
}

.first-text {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--main-color);
  font-family: var(--font-family-main);
  /* margin: 40px 0px 10px 20px; */
  line-height: 1.2;  
  /* position: absolute;
  top: 200px; */

}

.second-text {
  font-size: 1.3rem;
  color: var(--secondary-color);
  will-change: transform;
  line-height: 1.5;
  font-family: var(--font-family-main);
  /* position: absolute;
  top: 250px; */
  /* margin-left: 10px; */
}

  

  .aboutMiddle{
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    /* background-color: #FFF0E5; */
    /* background-color: #FFE7DA; */
    /* padding: 0; */
    /* background: linear-gradient(360deg, #FADADD, #FFFFFF); */
}
  
  .image-container {
    overflow-x: hidden;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scaling-image {
    width:50vw;
    height: 100vh;
  }
  
.middle{
  /* min-height: 100vh; */
  height: auto;
  width: 100vw;
  overflow-y: hidden;
  margin-bottom: 50px;
  padding-bottom: 20px;
  overflow-x: hidden;
}
.middleText-heading{
    overflow: hidden;
    font-family: var(--font-family-main);
    font-size: 2.8rem;
    font-weight: 400; 
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap;
}

.middleText-content-subHeading{
    font-family: var(--font-family-main);
    font-size: 1.2rem;
    font-weight: 400; 
    margin-bottom: 30px;
    line-height: 1.5;
    color: var(--secondary-color);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    white-space: nowrap;
}

.middleText-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /* padding: 40px; */
  gap: 20px;
  height: 100%;
  width: 100%;
}

.middleText-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 50%;
  height: 100%;
}

.middleText, .middleForm{
  flex: 1;
  display: flex;
  flex-direction: column;
  
  /* align-items: center; */
  box-sizing: border-box; 
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.middleText {
  background-color: #f9f9f9; 
  color: var(--gray-color);
}

.middleForm {
  color: var(--gray-color);
  font-family: var(--font-family-main);
  font-size: 1rem;
  text-align: left;
  justify-content: flex-start;
  background-color: #ffffff; 
}

.middleText:hover, .middleForm:hover{
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}


 .middleText2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}



.middleText2 p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 20px;
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  color: var(--primary-color); 
  transition: all 0.3s ease-in-out;
} 


.middleText2 p:hover {
  transform: scale(1.05);
  color: var(--secondary-color); 
  opacity: 0.9; 
}

.middleText2 p a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--gray-color);
  transition: color 0.4s ease-in-out;
}

.middleText2 p a:hover {
  color: var(--accent-color);
}



svg {
  border: 1px solid #c38576;
  fill: #c38576;
  border-radius: 50%; 
  padding: 10px; 
  font-size: 1.5rem; 
  width: 40px; 
  height: 40px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; 
}

.middleText2 a svg:hover, .middleText2 svg:hover {
  background-color: #212121; 
  color: #ffffff; 
}


.scrollComponent {
  background: linear-gradient(180deg, #FFE7DA, #FFFFFF);
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* min-height: 100vh; */
  height: fit-content;
}

.scrollComponent-heading, .feedbacksectionHeading{
  padding: 20px;
  font-family: var(--font-family-main);
  font-size: 2.8rem;
    font-weight: 400; 
  color: var(--main-color);
  line-height: 1.2; 
  text-align: center; 
}


.scrollImage {
  width: 200px;
  height: 200px;
  margin: 10px 10px 0px 0px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scrollComponent img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.scrollComponent::-webkit-scrollbar {
  height: 8px;
}

.scrollComponent::-webkit-scrollbar-thumb {
  background-color: #C47C69;
  border-radius: 10px;
}

.scrollComponent::-webkit-scrollbar-track {
  background-color: #FDF8F5;
}


.about2FeedbackSection{
  
  box-sizing: border-box;
  background: linear-gradient(180deg, #FFE7DA,#FFFFFF);
  min-height: 100vh;
  padding: 20px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}



  @media (max-width: 1024px) {
  .first-text {
    font-size: 2rem;
  }
  .second-text {
    font-size: 1.1rem;
  }
  .middleText-heading {
    font-size: 2.8rem;
  }
  .scrollComponent-heading, .feedbacksectionHeading{
    font-size: 2.8rem;
  }
  .middleText-subHeading {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {

  :root {
      font-size: 14px;
  }



  
  .first-text {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--main-color);
    line-height: 1; 
  }
  
  .second-text {
    font-size: 1.1rem;
    color: var(--secondary-color);
    will-change: transform;
    line-height: 1;
  }

  .middleText-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    height: 100%;
    width: 100%;
  } 

  .middleText-content-subHeading{
    margin: 0;
  }

  .middleText-heading{
    margin-bottom: 0;
  }

  .middleText-content-subHeading p{
    margin: 0;
  }

  .scrollComponent{
    height: auto;
    padding-bottom: 0;
  }

  .about2FeedbackSection {
    height: auto;
    padding: 10px 5px;
    
  }

}

@media screen and (min-width: 480px) and (max-width: 568px)  {




  .first-text {
    font-size: 1rem;
  }

  .second-text {
    font-size: 0.6rem;
  }

  .middleText-heading, .scrollComponent-heading, .feedbacksectionHeading {
    font-size: 1.8rem;
    white-space: wrap;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .middleText-content-subHeading{
    white-space: wrap;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1.2;
    font-size: 1rem;
  }

  .middleText-content-subHeading p{
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }

  .middleText-subHeading {
    font-size: 0.6rem;
    white-space: wrap;
    text-align: center;
  }


  /* .middleText{
   align-items: flex-start;
  } */

  .middleText-content{
    width: 100%;
    padding: 20px 20px 20px 60px;
  }

  .middleText, .middleForm {
    padding: 10px;
  }

  .middleText2 p, .middleText2 p a {
    white-space: nowrap;
  }

  svg {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    padding: 5px;
  }

  .scrollComponent{
    max-height:fit-content;
  }
  .scrollComponent img {
    width: 100px;
    height: 100px;
    margin: 5px 5px 0px 0px;
    border-radius: 5px;
  }
  
  .about2FeedbackSection {
    height: auto;
    padding: 10px 5px;
    
  }

  .middleText-heading {
    font-size: 1.8rem;
  }
  .scrollComponent-heading, .feedbacksectionHeading{
    font-size: 1.8rem;
  }

}


@media screen and (max-width: 480px)  {

  .first-text {
    font-size: 1rem;
  }

  .second-text {
    font-size: 0.6rem;
  }

  .middle{
    margin-bottom: 0;
    overflow-x: hidden;
  }

  .middleText-heading, .scrollComponent-heading, .feedbacksectionHeading {
    font-size: 1.8rem;
    white-space: wrap;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .middleText-content-subHeading{
    white-space: wrap;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1.2;
    font-size: 1rem;
  }

  

  .middleText-content-subHeading p{
    margin: 0;
    text-align: center;
    font-size: 1rem;
    padding-left: 20px;
  }

  .middleText-subHeading {
    font-size: 0.6rem;
    white-space: wrap;
    text-align: center;
  }


  .middleText{
   align-items: flex-start;

  }

  .middleText, .middleForm {
    padding: 10px;
    font-size: 1rem;;
  }

  .middleText2 p, .middleText2 p a {
    white-space: nowrap;
    font-size: 1rem;;
  }

  svg {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    padding: 5px;
  }

  .scrollComponent{
    max-height:fit-content;
  }
  .scrollComponent img {
    width: 100px;
    height: 100px;
    margin: 5px 5px 0px 0px;
    border-radius: 5px;
  }
  
  .about2FeedbackSection {
    height: auto;
    padding: 10px 5px;
    
  }

  .middleText-heading {
    font-size: 1.8rem;
  }
  .scrollComponent-heading, .feedbacksectionHeading{
    font-size: 1.8rem;
  }

}






 




