:root{
  --font-family-main: 'Montaga', serif; 
  --main-color: #AA624F;
  --secondary-color: #C47C69;
  --accent-color: #D89B8A;
  --gray-color: #9d9999;
  font-size: 16px;
}

.feedbackItem{
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 10PX;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width:fit-content;
  /* min-width: 150px; */
  font-family: var(--font-family-main);
}

.title{
  color: var(--main-color);
  font-size: 1.2rem;
  font-family: var(--font-family-main);
}

.feedback{
  font-style: italic;
  color: var(--accent-color);
  font-family: var(--font-family-main);
}

.name{
  color: var(--gray-color);
  font-family: var(--font-family-main);
}

.selectFeedback{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 999; 
}
.focused-item {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%); 
    background: white; 
    padding: 20px;
    z-index: 1000; 
} 

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--main-color);
  font-size: 1rem;
  cursor: pointer;
}

.closeButton:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .feedbackItem{
    width: 300px;
  }
}