.parallax-container {
  height: 100%;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  object-fit: cover;
  
}



/* .parallax-container {
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
} */
  
  .floating-text {
    color: rgb(236, 144, 5);
    text-align: center;
    font-size: 3rem;
    position: relative;
    top: 5%;
  }

  .rotating-cookie{
    position: absolute;
    top: -50%;
    left: 0;
  }

  .rotating-cookie2{
    position: absolute;
    bottom: -400%;
    left: -5%;
  }

  .rotating-cookie img, .rotating-cookie2 img{
    width: 250px;
    height: auto;
    animation: cookie 4s ease-in-out infinite;
  }


  .floating-bread{
    position: absolute;
    bottom: 10%;
    left: 40%;
  }

  .floating-bread img{
    width: 150px;
    height: auto;
    animation: bread 4s ease-in-out infinite;
    transform-origin: bottom left;
  }
  
  .floating-croissant1{
    position: absolute;
    top: 300%;
    right: 50%;
  }


  .floating-croissant1 img{
    width: 250px;
    height: auto;
    animation: bread 4s ease-in-out infinite;
    transform-origin: bottom left;
    
  }

  @keyframes float {
    0% {
      transform: translateY(-50%) translateX(0);
    }
    50% {
      transform: translateY(-25%) translateX(10px); 
    }
    100% {
      transform: translateY(-50%) translateX(0);
    }
  }
  
  @keyframes bread {
    0% {
      transform:  rotate(0deg);
    }
    50% {
      transform:  rotate(2deg);
    }
    100% {
      transform:  rotate(0deg);
    }
  }

  @keyframes cookie {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }




@media (max-width: 1024px) {
  .rotating-cookie{
    top: -30%;
    left: 0;
  }

  .rotating-cookie2{
    position: absolute;
    bottom: -400%;
    left: -4%;
  }
  
    .rotating-cookie img, .rotating-cookie2 img{
      width: 150px;
    }
  

    .floating-croissant1{
      bottom: -380%;
    }
  
  
    .floating-croissant1 img{
      width: 150px;
    }
}


@media screen and (max-width: 768px) {
   .rotating-cookie{
    position: absolute;
    top: -30%;
    left: 0;
  }

  .rotating-cookie2{
    position: absolute;
    top: 280%;
    left: -4%;
  }
  
    .rotating-cookie img, .rotating-cookie2 img{
      width: 150px;
    }
  

    .floating-croissant1{
      bottom: -280%;
    }
  
  
    .floating-croissant1 img{
      width: 150px;
    }
}



@media screen and (min-width: 480px) and (max-width: 800px) {
 
 .rotating-cookie2{
   position: absolute;
   top: 180%;
   left: -4%;
 }
 
   .rotating-cookie img, .rotating-cookie2 img{
     width: 120px;
   }
 

   .floating-croissant1{
     top: 180%;
   }
 
 
   .floating-croissant1 img{
     width: 100px;
   }
}





@media (max-width: 480px) {


  .rotating-cookie{
    position: absolute;
    top: -10%;
    left: 0;
  }

  .rotating-cookie2{
    position: absolute;
    top: 130%;
    left: -4%;
  }
  
    .rotating-cookie img, .rotating-cookie2 img{
      width: 75px;
      height: auto;
      animation: cookie 2s ease-in-out infinite;
    }
  

    .floating-croissant1{
      top: 130%;
    }
  
  
    .floating-croissant1 img{
      width: 75px;
      animation: bread 2s ease-in-out infinite;
    }
}






