.parallax-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size:contain;
  }
  
  .floating-text {
    color: rgb(236, 144, 5);
    text-align: center;
    font-size: 3rem;
    position: relative;
    top: 5%;
    /* transform: translateY(-50%); */
    /* animation: float 4s ease-in-out infinite; */
  }

  .rotating-cookie{
    position: absolute;
    top: -10%;
    left: 0;
  }

  .rotating-cookie2{
    position: absolute;
    bottom: -10%;
    left: -5%;
  }

  .rotating-cookie img, .rotating-cookie2 img{
    width: 250px;
    height: auto;
    animation: cookie 4s ease-in-out infinite;
  }


  .floating-bread{
    position: absolute;
    top: 10%;
    left: 40%;
  }

  .floating-bread img{
    width: 150px;
    height: auto;
    animation: bread 4s ease-in-out infinite;
    transform-origin: bottom left;
  }
  
  .floating-croissant1{
    position: absolute;
    bottom: -10%;
    right: 50%;
  }


  .floating-croissant1 img{
    width: 250px;
    height: auto;
    animation: bread 4s ease-in-out infinite;
    transform-origin: bottom left;
    
  }

  @keyframes float {
    0% {
      transform: translateY(-50%) translateX(0);
    }
    50% {
      transform: translateY(-25%) translateX(10px); 
    }
    100% {
      transform: translateY(-50%) translateX(0);
    }
  }
  
  @keyframes bread {
    0% {
      transform:  rotate(0deg);
    }
    50% {
      transform:  rotate(2deg);
    }
    100% {
      transform:  rotate(0deg);
    }
  }

  @keyframes cookie {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }